
flask>=3.1.2
plotly>=6.3.1
email-validator
flask-bcrypt
flask-login
flask-wtf
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
werkzeug
wtforms
flask-login
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
sqlalchemy
